@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'netflix';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'cheeky';
    src: url('../fonts/Isonorm\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
}