@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'netflix';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'cheeky';
    src: url('../fonts/Isonorm\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'cheeky';
    src: url('../fonts/Isonorm\ Regular.ttf') format('truetype');
}