@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'netflix';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'cheeky';
    src: url('../fonts/IsonormRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

.hamburger-icon {
    z-index: 1000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.hamburger-icon:hover>div {
    background-color: rgb(253 224 71);
}

.icon-1,
.icon-2,
.icon-3 {
    position: absolute;
    border-radius: 10px;
    width: 30px;
    height: 3px;
    background-color: white;
    transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}

.icon-1 {
    transform: translateY(-8px);
    animation-delay: 100ms;
}

.icon-3 {
    transform: translateY(8px);
    animation-delay: 250ms;
}

.icon-1.a {
    transform: rotate(40deg);
}

.icon-3.b {
    transform: rotate(-40deg);
}

.icon-2.c {
    opacity: 0;
}

.clear {
    clear: both;
}

.navbar_black {
    background-color: black;
}